.jumbotron-fluid {
    text-align: center;
    background-color:lightgray;
  }
  
  form {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
  }
  
  .table-wrapper {
    padding-left: 100px;
    padding-right: 100px; 
  }
  
  .table {
    border: 1px solid black;
  }
  
  .sort {
    display: inline;
  }
  